#!/bin/bash -e
# http://senko.net/en/django-nginx-gunicorn/

cd %(deploy)s
source %(venv)s/bin/activate

export DJANGO_SETTINGS_MODULE=%(settings)s
export PYTHONPATH=.
export PRODUCTION=1

exec %(venv)s/bin/gunicorn_django \
    --user=%(user)s \
    --group=%(user)s \
    --name=%(project)s_gunicorn \
    -b 0.0.0.0:%(port)s \
    -w 2 \
    --max-requests=5000 \
    --timeout 60 \
    --preload \
    --log-level=info \
    --log-file=%(log)s/gunicorn.log \
    --pid=/var/run/gunicorn/%(project)s.pid
